.audio-controls {
  position: fixed;
  padding-top: 20px;
  transform: translateX(140%);
  justify-content: center;
}

.btn {
  width: 50px;
  background-color: transparent;
  border-color: transparent;
}

.bi {
  font-size: 30px;
}
.bi:hover {
  font-size: 35px;
}
.ml-1 {
  margin-left: 40px;
}

.btn:focus,
.btn:hover,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent;
  border-color: transparent;
}
