.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #333841;
  color: white;
  display: flex;
  padding: 0 5%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.main-image {
  transform: translateY(15px) translateX(-15px);
  z-index: 0;
}

.main-image img {
  width: 45px;
  height: 45px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.btnContainer{
  transform: translateY(30px) translateX(600px);
}

.btn{
  font-size: 15px;
  width: 80px;
  height: 30px;
  color: white;
  background-color: transparent;
  border-color: transparent;
  border-radius: 10px;

}

.btn:hover{
  background-color: rgba(94, 91, 91, 0.747);
  cursor: pointer;
}