.btnContainer {
  position: absolute;
  right: 30px;
  top: 30px;
}

.btn {
  font-size: 15px;
  width: 80px;
  height: 30px;
  color: white;
  background-color: transparent;
  border-color: transparent;
  border-radius: 10px;
}

.btn:hover {
  background-color: rgba(94, 91, 91, 0.747);
  cursor: pointer;
}
